@font-face {
  font-family: "untitled-font-3";
  src: url("../fonts/untitled-font-3.eot");
  src: url("../fonts/untitled-font-3.eot?#iefix") format("embedded-opentype"), url("../fonts/untitled-font-3.woff") format("woff"), url("../fonts/untitled-font-3.ttf") format("truetype"), url("../fonts/untitled-font-3.svg#untitled-font-3") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "untitled-font-3" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "a"; }

.icon-facebook:before {
  content: "b"; }

.icon-rupee:before {
  content: "c";
  left: 178px;
  top: 4px; }

/*

Colors

*/
/*

Mixins

*/
/*

Placeholders

*/
.header, .header .logo, .header .nav, .header .nav ul, .header .nav ul li, .header .sign ul, .header .sign ul li, .statistics, .statistics p, .statistics .print-select .search-expert, .amount, .amount .amount-left, .amount .amount-left .amount-text, .amount .amount-left .amount-digit, .amount .amount-right .amount-text, .amount .amount-right .amount-digit, .map h3, .map .scale .map_scale .one, .map .scale .map_scale .one .scale_first, .map .scale .map_scale .one p, .map .scale .map_scale .two, .map .scale .map_scale .two .scale_second, .map .scale .map_scale .two p, .map .scale .map_scale .three, .map .scale .map_scale .three .scale_third, .map .scale .map_scale .three p, .map .scale .map_scale .four, .map .scale .map_scale .four .scale_fourth, .map .scale .map_scale .four p, .map .scale .map_scale .five, .map .scale .map_scale .five .scale_fifth, .map .scale .map_scale .five p, .bar h3, .tree h3, .table h3, .feature, .feature .contact, .feature .contact .socialIcons, .disclaimer, .copyright, .footer-nav, .footer-nav ul li {
  float: left; }

.container, .map, .bar, .tree, .table {
  float: left;
  width: 100%; }

.feature .contact .socialIcons {
  text-align: center; }

.header .sign, .statistics .print-select, .statistics .print-select img, .amount .amount-right {
  float: right; }

.container {
  overflow: hidden; }

.amount .amount-left .amount-digit p, .amount .amount-right .amount-digit p {
  position: relative; }

.icon-rupee:before {
  position: absolute; }

.container {
  overflow: hidden; }

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-font-smoothing: antialiased; }

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  font-family: 'Open Sans', sans-serif !important; }

.container {
  min-width: 1140px; }

.wrapper1178 {
  width: 1178px;
  margin: 0 auto; }

.wrapper1140 {
  width: 1140px;
  margin: 0 auto; }

.wrapper1031 {
  width: 1031px;
  margin: 0 auto; }

.wrapper940 {
  width: 940px;
  margin: 0 auto; }

.separator {
  border-bottom: 1px solid #ddd; }

.header {
  width: 100%;
  padding: 22px 0;
  border-bottom: 1px solid #ddd; }
  .header .nav ul {
    margin-top: 28px; }
    .header .nav ul li {
      list-style: none;
      margin-left: 24px; }
      .header .nav ul li a {
        font-size: 14px;
        color: #424242;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase; }
  .header .sign {
    margin-right: 20px; }
    .header .sign ul {
      margin-top: 28px; }
      .header .sign ul li {
        list-style: none;
        margin-left: 12px; }
        .header .sign ul li a {
          font-size: 14px;
          color: #2d7cbc;
          text-decoration: none;
          font-weight: 600; }

.statistics {
  width: 100%;
  margin: 32px 0; }
  .statistics p {
    font-size: 35px;
    color: #424242;
    font-weight: 100; }
  .statistics .print-select .search-expert {
    width: 107px;
    height: 33px;
    background-color: #fff;
    outline: none; }
  .statistics .print-select img {
    margin-left: 30px; }

.amount {
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  margin-bottom: 28px; }
  .amount .amount-left {
    width: 566px;
    text-align: center;
    border-right: 1px solid #ddd;
    padding: 8px 0px;
    box-sizing: border-box; }
    .amount .amount-left .amount-text {
      width: 100%;
      font-size: 24px;
      color: #424242;
      font-weight: 100;
      line-height: 48px; }
    .amount .amount-left .amount-digit {
      width: 100%;
      font-size: 30px;
      color: #2d7cbc;
      line-height: 32px; }
  .amount .amount-right {
    width: 566px;
    text-align: center;
    padding: 8px 0px;
    box-sizing: border-box; }
    .amount .amount-right .amount-text {
      width: 100%;
      font-size: 24px;
      color: #424242;
      font-weight: 100;
      line-height: 48px; }
    .amount .amount-right .amount-digit {
      width: 100%;
      font-size: 30px;
      color: #05ac30;
      line-height: 32px; }

.map {
  height: 600px;
  position: relative; }
  .map h3 {
    font-size: 30px;
    color: #424242;
    font-weight: 300;
    padding-bottom: 36px;
    margin: 22px 0 0 42px; }
  .map .scale {
    position: relative;
    width: 100%; }
    .map .scale #chart_div {
      width: 100%;
      height: 600px;
      overflow: hidden; }
    .map .scale .map_scale {
      position: absolute;
      right: 275px;
      bottom: 14px;
      width: 192px;
      background: #FFF; }
      .map .scale .map_scale .one {
        width: 100%; }
        .map .scale .map_scale .one .scale_first {
          width: 68px;
          height: 32px;
          background-color: #012d51; }
        .map .scale .map_scale .one p {
          font-size: 18px;
          color: #424242;
          line-height: 30px;
          margin-left: 20px; }
      .map .scale .map_scale .two {
        width: 100%; }
        .map .scale .map_scale .two .scale_second {
          width: 68px;
          height: 32px;
          background-color: #004a75; }
        .map .scale .map_scale .two p {
          font-size: 18px;
          color: #424242;
          line-height: 30px;
          margin-left: 20px; }
      .map .scale .map_scale .three {
        width: 100%; }
        .map .scale .map_scale .three .scale_third {
          width: 68px;
          height: 32px;
          background-color: #007ec5; }
        .map .scale .map_scale .three p {
          font-size: 18px;
          color: #424242;
          line-height: 30px;
          margin-left: 20px; }
      .map .scale .map_scale .four {
        width: 100%; }
        .map .scale .map_scale .four .scale_fourth {
          width: 68px;
          height: 32px;
          background-color: #33b6ff; }
        .map .scale .map_scale .four p {
          font-size: 18px;
          color: #424242;
          line-height: 30px;
          margin-left: 20px; }
      .map .scale .map_scale .five {
        width: 100%; }
        .map .scale .map_scale .five .scale_fifth {
          width: 68px;
          height: 32px;
          background-color: #dfdfdf; }
        .map .scale .map_scale .five p {
          font-size: 18px;
          color: #424242;
          line-height: 30px;
          margin-left: 20px; }

.bar {
  height: 600px; }
  .bar h3 {
    font-size: 30px;
    color: #424242;
    font-weight: 300;
    text-transform: uppercase;
    margin: 22px 0 0 42px; }
  .bar #chart_bar {
    width: 100%;
    height: 542px;
    overflow: hidden; }

.tree {
  height: 600px;
  margin-bottom: 22px; }
  .tree h3 {
    font-size: 30px;
    color: #424242;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 42px; }
  .tree #chart_tree {
    width: 100%;
    height: 550px;
    overflow: hidden; }
  .tree p {
    font-size: 16px;
    color: #343434;
    margin: 0 0 22px 90px; }

.table {
  margin-top: 100px;
  margin-bottom: 32px; }
  .table h3 {
    font-size: 30px;
    color: #424242;
    font-weight: 300;
    text-transform: uppercase;
    margin: 12px 0px; }
  .table table {
    width: 100%;
    background: #eeeeee; }
  .table tr {
    height: 60px;
    border-bottom: 1px solid #FFF;
    width: 100%; }
  .table td, .table th {
    text-align: center;
    vertical-align: middle;
    line-height: 1; }
  .table th {
    background: #96bddd;
    min-width: 78px; }
  .table th:first-child {
    background: #619ccc; }
  .table td:first-child {
    background: #96bddd; }

.feature {
  width: 100%;
  border-top: 1px solid #e2e2e2;
  padding-top: 24px; }
  .feature .contact {
    width: 186px;
    margin-left: 68px; }
    .feature .contact h4 {
      font-size: 16px;
      color: #424242;
      font-weight: 400; }
    .feature .contact ul {
      margin-top: 20px; }
      .feature .contact ul li {
        list-style: none;
        margin-bottom: 14px; }
        .feature .contact ul li a {
          text-decoration: none;
          font-size: 12px;
          color: #2d7cbc;
          font-weight: 700; }
          .feature .contact ul li a:hover {
            color: #286da6; }
    .feature .contact .socialIcons {
      margin-right: 10px;
      margin-top: 20px;
      width: 26px;
      height: 26px;
      background: #2d7cbc;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      line-height: 30px; }
      .feature .contact .socialIcons:hover {
        background: #286da6; }
    .feature .contact i {
      color: #FFF;
      font-size: 18px; }

.disclaimer {
  width: 100%;
  text-align: center;
  margin-top: 44px; }
  .disclaimer h5 {
    font-size: 14px;
    color: #2d7cbc; }
  .disclaimer p {
    font-size: 12px;
    color: #767676;
    padding: 10px 22px;
    font-weight: 400;
    line-height: 20px; }

.copyright {
  width: 100%;
  text-align: center; }
  .copyright p {
    font-size: 11px;
    color: #424242; }

.footer-nav {
  width: 100%;
  text-align: center;
  height: 59px;
  background-color: #ebebeb;
  margin-top: 32px; }
  .footer-nav ul {
    width: 698px;
    float: none;
    margin: 24px auto 0px; }
    .footer-nav ul li {
      list-style: none;
      width: 115px;
      border-right: 1px solid #424242; }
      .footer-nav ul li:last-child {
        border: none; }
      .footer-nav ul li a {
        font-size: 12px;
        color: #6b6b6b;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
