/*

Colors

*/
$white: #FFFFFF;
$font : #183c4d;
$fontTransparent : rgba(24,60,77,0.5);
$orange : #f5821f;
$green :#6bbd45;

/*

Mixins

*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin translateY($y) {
   @include transform(translateY($y));
}

@mixin translateX($y) {
   @include transform(translateX($y));
}

/*

Placeholders

*/

%bold {font-weight:700;}

%lato-reg {
  font-family: 'Lato', sans-serif;
}

%lato-bold {
  font-family: 'Lato', sans-serif; @extend %bold;
}



%capital {text-transform: uppercase;}

%pointer {cursor:pointer;}

%left {float:left;}

%leftfull {float:left; width:100%;}

%center {text-align: center;}

%right {float:right;}

%overflow {overflow:hidden;}

%pos-relative {position: relative;}

%pos-absolute {position: absolute;}

%pos-fixed {position: fixed;}

%overflow {overflow:hidden;}

%boxsizing {box-sizing: border-box; -o-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}

%bottomShadow {-moz-box-shadow: 0 4px 0 -1px rgba(0,0,0,0.08);
-webkit-box-shadow: 0 4px 0 -1px rgba(0,0,0,0.08);
box-shadow: 0 4px 0 -1px rgba(0,0,0,0.08);
      }

%ease {-webkit-transition: all 0.20s ease-in-out;
-moz-transition: all 0.20s ease-in-out;
-ms-transition: all 0.20s ease-in-out;
-o-transition: all 0.20s ease-in-out;
transition: all 0.20s ease-in-out;
}

%clear {clear:both;}